<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>品目登録</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>品目の登録</h1>
	<header th:replace="header"></header>
	<hr>
	<main>
		<p th:each="error:${errorList}" th:text="${error}" style="color: red"></p>
		<form action="/wants/add" method="post">
			<table border="1">
				<tr>
					<th>品目名</th>
					<td>
						<input type="text" name="name" th:value="${want.name}">
					</td>
				</tr>
				<tr>
					<th>カテゴリー</th>
					<td>
						<select name="categoryId">
							<option th:each="category:${categories}" th:value="${category.id}" 
							th:text="${category.name}" th:selected="${category.id == want.categoryId}">
							</option>
						</select>
					</td>
				</tr>
			</table>
			<button>登録</button>
		</form>
	</main>
</body>
</html>