<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品更新</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>商品更新</h1>
	<header th:replace="header"></header>
	<hr>
	<main>
		<form th:action="@{/wants/{wantId}/edit(wantId=${want.id})}" method="post">
			<table border="1">
				<tr>
					<th>商品名</th>
					<td>
						<input type="text" name="name" th:value="${want.name}">
					</td>
				</tr>
				<tr>
					<th>カテゴリー</th>
					<td>
						<select name="categoryId">
							<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}">
							</option>
						</select>
					</td>
				</tr>
			</table>
			<button>更新</button>
		</form>
	</main>
</body>
</html>